* {
  margin: 0;
  padding: 0;
}

.workArea {
  width: 100vh;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2%;
  align-items: center;
  margin: auto;
  margin-top: 10%;
  background-color: beige;
  
}

.textInput {
  display: flex;
}

#textArea {
  width: 52vw;
  height: 5vh;
}

.encodeMessage {
  display: flex;
  width: 100%;
  height: 20%;
}

.display {
  width: 100%;
  border: 1px solid black;
  height: 100%;
}